<!DOCTYPE html>
<html lang="zh">
<head>
    <meta charset="UTF-8" />
    <title>祝仪工具By夜光天楼</title>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta
            name="viewport"
            content="width=device-width, initial-scale=1, maximum-scale=1"
    />
    <meta http-equiv="X-UA-Compatible" content="IE=Edge" />
    <link rel="stylesheet" href="https://cdn.bootcdn.net/ajax/libs/amis/2.8.0/sdk.css" />
    <link rel="stylesheet" href="https://cdn.bootcdn.net/ajax/libs/amis/2.8.0/helper.css" />
    <link rel="stylesheet" href="https://cdn.bootcdn.net/ajax/libs/amis/2.8.0/iconfont.css" />
    <!-- 这是默认主题所需的，如果是其他主题则不需要 -->
    <!-- 从 1.1.0 开始 sdk.css 将不支持 IE 11，如果要支持 IE11 请引用这个 css，并把前面那个删了 -->
    <!-- <link rel="stylesheet" href="sdk-ie11.css" /> -->
    <!-- 不过 amis 开发团队几乎没测试过 IE 11 下的效果，所以可能有细节功能用不了，如果发现请报 issue -->
    <style>
        html,
        body,
        .app-wrapper {
            position: relative;
            width: 100%;
            height: 100%;
            margin: 0;
            padding: 0;
        }
    </style>
</head>
<body>
<div id="root" class="app-wrapper"></div>
<script src="https://cdn.bootcdn.net/ajax/libs/amis/2.8.0/sdk.js"></script>
<script type="text/javascript">
    (function () {
        let amis = amisRequire('amis/embed');
        // 通过替换下面这个配置来生成不同页面
        let amisJSON =
            {
                "type":"page",
                "cssVars": {
                    "--fontFamilyBase":"font-serif",
                    "--fontSizeBase":"18px",
                    "--radio-default-default-fontSize":"18px",
                    "--Form-item-gap":"10px",
                    "--Page-title-fontSize":"18px",
                    "--button-size-md-fontSize":"18px",
                    "--fontSizeLg":"18px",
                },
                "mobile": {
                    "cssVars": {
                        "--fontFamilyBase":"font-serif",
                    },
                },
                "style":{
                    "padding":40,
                },
                "hash": "unique",
                "body": [
                    {
                        "type":"flex",
                        "justify": "center",
                        "items":[

                        ],
                    },
                    {
                        "type": "form",
                        "api": "/api/v2",
                        "title": "",
                        "mode": "normal",
                        "wrapWithPanel": false,
                        "horizontal": {
                            "leftFixed": "sm"
                        },
                        "actions": [],
                        "body": [
                            {
                                "type": "flex",
                                "justify": "center",
                                "direction": "column",
                                "style":{
                                    "box-sizing":"content-box",
                                },
                                "mobile": {
                                    "style":{
                                    },
                                },
                                "items": [
                                    {
                                        "type": "html",
                                        "html": "网站将于11月底迁移至 <a href=\"http://www.mjget.top/\">www.mjget.top</a> 欢迎收藏"
                                    },
                                    {
                                        "type": "flex",
                                        "justify": "flex-start",
                                        "style":{
                                            "padding-left":0,
                                            "width":900,
                                        },
                                        "mobile": {
                                            "style":{
                                                "width":"100%",
                                            },
                                        },
                                        "items": [
                                            {
                                                "type": "page",
                                                "body": {
                                                    "type": "carousel",
                                                    "auto": true,
                                                    "interval": 4000,
                                                    "thumbMode": "cover",
                                                    "mobile": {
                                                        "thumbMode": "contain",
                                                    },
                                                    "animation": "slide",
                                                    "controls":[
                                                        "arrows",
                                                    ],
                                                    "options": [
                                                        {
                                                            "image": "static/20231112chengdu_duola.png",
                                                        },
                                                        {
                                                            "image":"static/20231016xian_gsws_release.jpg",
                                                        },
                                                        {
                                                            "image": "static/20230928changsha.png",
                                                        },
                                                        {
                                                            "image": "static/20230928xian.png",
                                                        },
                                                        {
                                                            "image": "static/20230928nanchang.png",
                                                        },
                                                    ]
                                                }
                                            },
                                        ],
                                    },
                                    {
                                        "type": "steps",
                                        "style": {
                                            "width": 900,
                                        },
                                        "mobile": {
                                            "style":{
                                                "width":"100%",
                                            },
                                        },
                                        "steps": [
                                            {
                                                "title": "粘贴牌谱到框里",
                                            },
                                            {
                                                "title": "选择祝仪模式"
                                            },
                                            {
                                                "title": "点击生成表格"
                                            }
                                        ]
                                    },
                                    {
                                        "type": "flex",
                                        "justify": "center",
                                        "direction": "row",
                                        "style": {
                                            "width": 900,
                                        },
                                        "mobile": {
                                            "direction": "column",
                                            "style":{
                                                "width":"100%",
                                            },
                                        },
                                        "items": [
                                            {
                                                "type": "flex",
                                                "justify": "center",
                                                "direction": "column",
                                                "items": [
                                                    {
                                                        "type": "combo",
                                                        "name": "comboRecords",
                                                        "label": "",
                                                        "multiple": true,
                                                        "style": {
                                                            "padding-left":10,
                                                            "width":450,
                                                            "height":200,
                                                        },
                                                        "mobile": {
                                                            "style":{
                                                                "padding-left":10,
                                                                "width":360,
                                                            },
                                                        },
                                                        "addBtn": {
                                                            "type": "button",
                                                            "id":"b_add",
                                                            "label": "新增一行",
                                                            "level": "primary",
                                                            "size": "md",
                                                            "disabledOn":"typeof data.rows !== 'undefined'",
                                                        },
                                                        "value": [
                                                            {}, {}, {},
                                                        ],
                                                        "items": [
                                                            {
                                                                "name": "url",
                                                                "type": "input-text",
                                                                "placeholder": "链接粘贴这里",
                                                                "value": "",
                                                                "unique": true,
                                                                "required": false,
                                                            },
                                                        ]
                                                    },

                                                ],
                                            },

                                            {
                                                "type": "flex",
                                                "justify": "flex-start",
                                                "alignItems":"flex-start",
                                                "direction": "column",
                                                "style":{
                                                    "width":450,
                                                    "height":200,
                                                    "padding-left":40,
                                                },
                                                "mobile": {
                                                    "direction": "column",
                                                    "style":{
                                                        "width":"100%",
                                                        "padding-top":20,
                                                    },
                                                },
                                                "items": [
                                                    {
                                                        "type": "flex",
                                                        "justify": "flex-start",
                                                        "style":{
                                                            "padding-bottom":10,
                                                        },
                                                        "items": [
                                                            {
                                                                "type": "tooltip-wrapper",
                                                                "content": "z3即1个祝等于3pt，3麻请选择无祝仪模式",
                                                                "placement":"right",
                                                                "body": "祝仪模式",
                                                                "className": "mb-1"
                                                            },
                                                        ],
                                                    },
                                                    {
                                                        "name": "mode",
                                                        "type": "radios",
                                                        "label": "",
                                                        "mode":"normal",
                                                        "style": {
                                                            "width":400,
                                                            "padding-bottom":10,
                                                        },
                                                        "selectFirst": true,
                                                        "options": [
                                                            {
                                                                "label": "k10z3",
                                                                "value": "103",
                                                            },
                                                            {
                                                                "label": "k20z3",
                                                                "value": "203"
                                                            },
                                                            {
                                                                "label": "k5z3",
                                                                "value": "53"
                                                            },
                                                            {
                                                                "label": "k2z3",
                                                                "value": "23"
                                                            },
                                                            {
                                                                "label": "k10",
                                                                "value": "10"
                                                            },
                                                            {
                                                                "label": "k20",
                                                                "value": "20"
                                                            },
                                                            {
                                                                "label": "k5",
                                                                "value": "5"
                                                            },
                                                            {
                                                                "label": "k50",
                                                                "value": "50"
                                                            },
                                                            {
                                                                "label": "k100",
                                                                "value": "100"
                                                            },
                                                        ],
                                                    },
                                                    {
                                                        "type": "flex",
                                                        "justify": "flex-start",
                                                        "style":{
                                                            "box-sizing":"content-box",
                                                            "padding-top":10,
                                                        },
                                                        "items": [
                                                            {
                                                                "type":"submit",
                                                                "id":"b_smit",
                                                                "label":"生成表格",
                                                                "level":"primary",
                                                                "size":"md",
                                                                "disabledTip":"再次生成请刷新页面",
                                                                "tooltipPlacement":"right",
                                                                "disabledOn":"typeof data.rows !== 'undefined'",
                                                            },
                                                        ],
                                                    },
                                                ],
                                            },
                                        ],
                                    },
                                    {
                                        "type": "flex",
                                        "direction": "row",
                                        "justify": "flex-start",
                                        "alignItems":"flex-start",
                                        "style":{
                                            "padding-top":20,
                                            "padding-right":180,
                                        },
                                        "mobile": {
                                            "style":{
                                                "padding-top":20,
                                                "padding-right":10,
                                                "width":360,
                                            },
                                        },
                                        "items": [
                                            {
                                                "type": "flex",
                                                "direction": "column",
                                                "items": [
                                                    {
                                                        "name":"report1",
                                                        "id":"report1",
                                                        "title": "",
                                                        "type":"table",
                                                        "source": "$rows",
                                                        "rowClassNameExpr": "<%= data.desc == '最终积分' ? 'bg-primary font-bold' : '' %>",
                                                        "visibleOn": "typeof data.rows !== 'undefined'",
                                                        "mobile": {
                                                            "style":{
                                                                "width":"100%",
                                                            },
                                                        },
                                                        "columns": [
                                                            {
                                                                "name": "desc",
                                                                "label": "",
                                                                "width":100,
                                                                "mobile": {
                                                                    "width":"100%",
                                                                    "classNameExpr": "<%= \" text-sm font-bold\" %>",
                                                                    "labelClassName": "text-sm font-bold text-center",
                                                                },
                                                                "classNameExpr": "<%= \" text-lg text-center font-bold\" %>"
                                                            },
                                                            {
                                                                "name": "p0",
                                                                "label": "$names.0",
                                                                "width":120,
                                                                "mobile": {
                                                                    "width":"100%",
                                                                    "classNameExpr": "<%= \" text-sm font-bold\" %>",
                                                                    "labelClassName": "text-sm font-bold text-center",
                                                                },
                                                                "labelClassName": "font-bold text-center",
                                                                "classNameExpr": "<%= \"text-lg text-center \" %>"
                                                            },
                                                            {
                                                                "name": "p1",
                                                                "label": "$names.1",
                                                                "width":120,
                                                                "mobile": {
                                                                    "width":"100%",
                                                                    "classNameExpr": "<%= \" text-sm font-bold\" %>",
                                                                    "labelClassName": "text-sm font-bold text-center",
                                                                },
                                                                "labelClassName": "font-bold text-center",
                                                                "classNameExpr": "<%= \"text-lg text-center\" %>"
                                                            },
                                                            {
                                                                "name": "p2",
                                                                "label": "$names.2",
                                                                "width":120,
                                                                "mobile": {
                                                                    "width":"100%",
                                                                    "classNameExpr": "<%= \" text-sm font-bold\" %>",
                                                                    "labelClassName": "text-sm font-bold text-center",
                                                                },
                                                                "labelClassName": "font-bold text-center",
                                                                "classNameExpr": "<%= \"text-lg text-center\" %>"
                                                            },
                                                            {
                                                                "name": "p3",
                                                                "label": "$names.3",
                                                                "width":120,
                                                                "mobile": {
                                                                    "width":"100%",
                                                                    "classNameExpr": "<%= \" text-sm font-bold\" %>",
                                                                    "labelClassName": "text-sm font-bold text-center",
                                                                },
                                                                "labelClassName": "font-bold text-center",
                                                                "classNameExpr": "<%= \"text-lg text-center\" %>"
                                                            },
                                                        ]
                                                    },
                                                    {
                                                        "name":"report2",
                                                        "title": "",
                                                        "type":"table",
                                                        "source": "$ptRows",
                                                        "visibleOn": "typeof data.ptRows !== 'undefined'",
                                                        "mobile": {
                                                            "style":{
                                                                "width":"100%",
                                                            },
                                                        },
                                                        "columns": [
                                                            {
                                                                "name": "desc",
                                                                "label": "",
                                                                "width":100,
                                                                "classNameExpr": "<%= \"text-lg text-center \" %>",
                                                                "mobile": {
                                                                    "width":"100%",
                                                                    "classNameExpr": "<%= \" text-sm font-bold\" %>",
                                                                    "labelClassName": "text-sm font-bold text-center",
                                                                },
                                                            },
                                                            {
                                                                "name": "p0",
                                                                "label": "$names.0",
                                                                "width":120,
                                                                "labelClassName": "font-bold text-center",
                                                                "classNameExpr": "<%= \"text-lg text-center \" %>",
                                                                "mobile": {
                                                                    "width":"100%",
                                                                    "classNameExpr": "<%= \" text-sm font-bold\" %>",
                                                                    "labelClassName": "text-sm font-bold text-center",
                                                                },
                                                            },
                                                            {
                                                                "name": "p1",
                                                                "label": "$names.1",
                                                                "width":120,
                                                                "labelClassName": "font-bold text-center",
                                                                "classNameExpr": "<%= \"text-lg text-center \" %>",
                                                                "mobile": {
                                                                    "width":"100%",
                                                                    "classNameExpr": "<%= \" text-sm font-bold\" %>",
                                                                    "labelClassName": "text-sm font-bold text-center",
                                                                },
                                                            },
                                                            {
                                                                "name": "p2",
                                                                "label": "$names.2",
                                                                "width":120,
                                                                "labelClassName": "font-bold text-center",
                                                                "classNameExpr": "<%= \"text-lg text-center \" %>",
                                                                "mobile": {
                                                                    "width":"100%",
                                                                    "classNameExpr": "<%= \" text-sm font-bold\" %>",
                                                                    "labelClassName": "text-sm font-bold text-center",
                                                                },
                                                            },
                                                            {
                                                                "name": "p3",
                                                                "label": "$names.3",
                                                                "width":120,
                                                                "labelClassName": "font-bold text-center",
                                                                "classNameExpr": "<%= \"text-lg text-center \" %>",
                                                                "mobile": {
                                                                    "width":"100%",
                                                                    "classNameExpr": "<%= \" text-sm font-bold\" %>",
                                                                    "labelClassName": "text-sm font-bold text-center",
                                                                },
                                                            },
                                                        ]
                                                    },

                                                    {
                                                        "name":"report3",
                                                        "title": "",
                                                        "type":"table",
                                                        "source": "$zhuyiRows",
                                                        "visibleOn": "typeof data.zhuyiRows !== 'undefined'",
                                                        "mobile": {
                                                            "style":{
                                                                "width":"100%",
                                                            },
                                                        },
                                                        "columns": [
                                                            {
                                                                "name": "desc",
                                                                "label": "",
                                                                "width":100,
                                                                "classNameExpr": "<%= \"text-lg text-center \" %>",
                                                                "mobile": {
                                                                    "width":"100%",
                                                                    "classNameExpr": "<%= \" text-sm font-bold\" %>",
                                                                    "labelClassName": "text-sm font-bold text-center",
                                                                },
                                                            },
                                                            {
                                                                "name": "p0",
                                                                "width":120,
                                                                "label": "$names.0",
                                                                "labelClassName": "font-bold text-center",
                                                                "classNameExpr": "<%= \"text-lg text-center \" %>",
                                                                "mobile": {
                                                                    "width":"100%",
                                                                    "classNameExpr": "<%= \" text-sm font-bold\" %>",
                                                                    "labelClassName": "text-sm font-bold text-center",
                                                                },
                                                            },
                                                            {
                                                                "name": "p1",
                                                                "width":120,
                                                                "label": "$names.1",
                                                                "labelClassName": "font-bold text-center",
                                                                "classNameExpr": "<%= \"text-lg text-center \" %>",
                                                                "mobile": {
                                                                    "width":"100%",
                                                                    "classNameExpr": "<%= \" text-sm font-bold\" %>",
                                                                    "labelClassName": "text-sm font-bold text-center",
                                                                },
                                                            },
                                                            {
                                                                "name": "p2",
                                                                "width":120,
                                                                "label": "$names.2",
                                                                "labelClassName": "font-bold text-center",
                                                                "classNameExpr": "<%= \"text-lg text-center \" %>",
                                                                "mobile": {
                                                                    "width":"100%",
                                                                    "classNameExpr": "<%= \" text-sm font-bold\" %>",
                                                                    "labelClassName": "text-sm font-bold text-center",
                                                                },
                                                            },
                                                            {
                                                                "name": "p3",
                                                                "width":120,
                                                                "label": "$names.3",
                                                                "labelClassName": "font-bold text-center",
                                                                "classNameExpr": "<%= \"text-lg text-center \" %>",
                                                                "mobile": {
                                                                    "width":"100%",
                                                                    "classNameExpr": "<%= \" text-sm font-bold\" %>",
                                                                    "labelClassName": "text-sm font-bold text-center",
                                                                },
                                                            },
                                                        ]
                                                    },
                                                ],
                                            },

                                        ],
                                    },

                                ],
                            },




                        ],
                    },
                ]
            };

        let amisScoped = amis.embed('#root', amisJSON);
    })();
</script>
</body>
</html>