<!DOCTYPE html>
<html lang="zh">
<head>
    <title>祝仪工具箱</title>
    <meta charset="UTF-8" />
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1"/>
    <meta http-equiv="X-UA-Compatible" content="IE=Edge" />

<!--    <script src="https://cdnjs.cloudflare.com/ajax/libs/amis/2.8.0/sdk.min.js"></script>-->

    <script src="https://static.mjget.fun/sdk.min.js"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/amis/2.8.0/sdk.css" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/amis/2.8.0/helper.css" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/amis/2.8.0/iconfont.css" />

    <link rel="icon" href="https://static.mjget.fun/static/favicon.ico">
    <script>let herfPrefix = 'https://static.mjget.fun'</script>
    <script>let pageTitle = '网站 mjget.fun mjget.top 由<a href=\'https://www.upyun.com/?utm_source=lianmeng&utm_medium=referral\'><img src=\'https://static.mjget.fun/static/upyun_logo2.webp\'/></a>提供CDN加速/云存储服务'</script>
    <script>
        let arrPic = [
            herfPrefix + "/static/ynf_20240902163314.webp",
            herfPrefix + "/static/szth_20240901120806.webp",
            herfPrefix + "/static/20240220_sxme_release.webp",
            herfPrefix + "/static/hzsx_release_20240915231339.webp",
            herfPrefix + "/static/shxy_release_20231129122024.webp",
            herfPrefix + "/static/szyf_release_20231222002356.webp",
        ]

        let randPic = arrPic[Math.floor(Math.random() * arrPic.length)];
    </script>
    <style>
        html,
        body,
        .app-wrapper {
            position: relative;
            width: 100%;
            height: 100%;
            margin: 0;
            padding: 0;
        }
    </style>

</head>
<body>
<div id="root" class="app-wrapper"></div>
<script type="text/javascript">
    (function () {
        let amis = amisRequire('amis/embed');
        let amisJSON =
            {
                "type":"page",
                "cssVars": {
                    "--fontFamilyBase":"font-serif",
                    "--fontSizeBase":"18px",
                    "--radio-default-default-fontSize":"18px",
                    "--Form-item-gap":"10px",
                    "--Page-title-fontSize":"18px",
                    "--button-size-md-fontSize":"18px",
                    "--fontSizeLg":"18px",
                },
                "mobile": {
                    "cssVars": {
                        "--fontFamilyBase":"font-serif",
                        "--Form-item-gap":"10px",
                    },
                },
                "style":{
                    "padding":40,
                },
                "hash": "unique",
                "body": [
                    {
                        "type":"flex",
                        "justify": "center",
                        "items":[
                            {
                                "type": "html",
                                "html": pageTitle,
                            },
                        ],
                    },
                    {
                        "type": "form",
                        "api": "/api/v2",
                        "title": "",
                        "mode": "normal",
                        "wrapWithPanel": false,
                        "horizontal": {
                            "leftFixed": "sm"
                        },
                        "actions": [],
                        "body": [
                            {
                                "type": "flex",
                                "justify": "center",
                                "direction": "column",
                                "style":{
                                    "box-sizing":"content-box",
                                },
                                "mobile": {
                                    "style":{
                                    },
                                },
                                "items": [
                                    {
                                        "type": "flex",
                                        "justify": "flex-start",
                                        "style":{
                                            "padding-left":0,
                                            "width":900,
                                        },
                                        "mobile": {
                                            "style":{
                                                "width":"100%",
                                            },
                                        },
                                        "items": [
                                            {
                                                "type": "page",
                                                "body": {
                                                    "type": "carousel",
                                                    "auto": true,
                                                    "interval": 4000,
                                                    "thumbMode": "cover",
                                                    "mobile": {
                                                        "thumbMode": "contain",
                                                    },
                                                    "animation": "slide",
                                                    "controls":[
                                                        "arrows",
                                                    ],
                                                    "options": [
                                                        {
                                                            "image":randPic,
                                                        },
                                                    ]
                                                }
                                            },
                                        ],
                                    },
                                    {
                                        "type": "steps",
                                        "style": {
                                            "width": 900,
                                            "padding-top":0,
                                        },
                                        "mobile": {
                                            "style":{
                                                "width":"100%",
                                            },
                                        },
                                        "steps": [
                                            {
                                                "title": "粘贴牌谱链接",
                                            },
                                            {
                                                "title": "选择祝仪模式"
                                            },
                                            {
                                                "title": "点击生成表格"
                                            }
                                        ]
                                    },
                                    {
                                        "type": "flex",
                                        "justify": "center",
                                        "direction": "row",
                                        "style": {
                                            "width": 900,
                                        },
                                        "mobile": {
                                            "direction": "column",
                                            "style":{
                                                "width":"100%",
                                            },
                                        },
                                        "items": [
                                            {
                                                "type": "flex",
                                                "justify": "center",
                                                "direction": "column",
                                                "items": [
                                                    {
                                                        "type": "combo",
                                                        "name": "comboRecords",
                                                        "label": "",
                                                        "multiple": true,
                                                        "style": {
                                                            "padding-left":10,
                                                            "padding-top":20,
                                                            "width":400,
                                                            "height":200,
                                                        },
                                                        "mobile": {
                                                            "style":{
                                                                "padding-left":0,
                                                                "width":400,
                                                            },
                                                        },
                                                        "addBtn": {
                                                            "type": "button",
                                                            "id":"b_add",
                                                            "label": "新增一行",
                                                            "level": "primary",
                                                            "size": "md",
                                                            "disabledOn":"typeof data.rows !== 'undefined'",
                                                        },
                                                        "value": [
                                                            {}, {},
                                                        ],
                                                        "items": [
                                                            {
                                                                "style":{
                                                                    "padding-bottom":2,
                                                                },
                                                                "name": "url",
                                                                "type": "input-text",
                                                                "placeholder": "链接粘贴这里",
                                                                "value": "",
                                                                "unique": true,
                                                                "required": false,
                                                            },
                                                        ]
                                                    },

                                                ],
                                            },

                                            {
                                                "type": "flex",
                                                "justify": "flex-start",
                                                "alignItems":"flex-start",
                                                "direction": "column",
                                                "style":{
                                                    "width":450,
                                                    "height":200,
                                                    "padding-left":40,
                                                    "padding-top":-20,
                                                },
                                                "mobile": {
                                                    "direction": "column",
                                                    "style":{
                                                        "width":"100%",
                                                        "padding-top":20,
                                                    },
                                                },
                                                "items": [
                                                    {
                                                        "type": "flex",
                                                        "justify": "flex-start",
                                                        "style":{
                                                            "padding-bottom":0,
                                                        },
                                                        "items": [
                                                            {
                                                                "type": "tooltip-wrapper",
                                                                "content": "3麻可选择无祝模式",
                                                                "placement":"top",
                                                                "body": "祝仪模式",
                                                                "className": "mb-1"
                                                            },
                                                            {
                                                                "type": "remark",
                                                                "content": "103表示k10z3，即1个祝等于3pt，10表示k10不带祝",
                                                                "shape": "circle"
                                                            }
                                                        ],
                                                    },
                                                    {
                                                        "name": "mode",
                                                        "type": "radios",
                                                        "label": "",
                                                        "mode":"normal",
                                                        "style": {
                                                            "width":460,
                                                            "padding-bottom":0,
                                                        },
                                                        "mobile": {
                                                            "style":{
                                                                "width":"100%",
                                                                "padding-bottom":0,
                                                            },
                                                        },
                                                        "selectFirst": true,
                                                        "options": [
                                                            {
                                                                "label": "103",
                                                                "value": "103",
                                                            },
                                                            {
                                                                "label": "203",
                                                                "value": "203"
                                                            },
                                                            {
                                                                "label": "303",
                                                                "value": "303"
                                                            },
                                                            {
                                                                "label": "503",
                                                                "value": "503"
                                                            },
                                                            {
                                                                "label": "23",
                                                                "value": "23"
                                                            },
                                                            {
                                                                "label": "53",
                                                                "value": "53"
                                                            },
                                                            {
                                                                "label": "10",
                                                                "value": "10"
                                                            },
                                                            {
                                                                "label": "20",
                                                                "value": "20"
                                                            },
                                                            {
                                                                "label": "30",
                                                                "value": "30"
                                                            },
                                                            {
                                                                "label": "50",
                                                                "value": "50"
                                                            },
                                                            {
                                                                "label": "100",
                                                                "value": "100"
                                                            },
                                                            {
                                                                "label": "5",
                                                                "value": "5"
                                                            },
                                                            {
                                                                "label": "8",
                                                                "value": "8"
                                                            },
                                                            {
                                                                "label": "202",
                                                                "value": "202"
                                                            },
                                                        ],
                                                    },
                                                    {
                                                        "type": "flex",
                                                        "justify": "flex-start",
                                                        "style":{
                                                            "box-sizing":"content-box",
                                                            "padding-top":0,
                                                        },
                                                        "mobile": {
                                                            "style":{
                                                                "padding-top":0,
                                                            },
                                                        },
                                                        "items": [
                                                            {
                                                                "type":"submit",
                                                                "id":"b_smit",
                                                                "label":"生成表格",
                                                                "level":"primary",
                                                                "size":"md",
                                                                "disabledTip":"再次生成请刷新页面",
                                                                "tooltipPlacement":"right",
                                                                "disabledOn":"typeof data.rows !== 'undefined'",
                                                            },
                                                        ],
                                                    },
                                                ],
                                            },
                                        ],
                                    },
                                    {
                                        "type": "flex",
                                        "direction": "row",
                                        "justify": "flex-start",
                                        "alignItems":"flex-start",
                                        "style":{
                                            "padding-top":20,
                                            "padding-right":180,
                                        },
                                        "mobile": {
                                            "style":{
                                                "padding-top":20,
                                                "padding-right":10,
                                                "width":360,
                                            },
                                        },
                                        "items": [
                                            {
                                                "type": "flex",
                                                "direction": "column",
                                                "items": [
                                                    {
                                                        "name":"report1",
                                                        "id":"report1",
                                                        "title": "",
                                                        "type":"table",
                                                        "source": "$rows",
                                                        "rowClassNameExpr": "<%= data.desc == '最终积分' ? 'bg-primary font-bold' : '' %>",
                                                        "visibleOn": "typeof data.rows !== 'undefined'",
                                                        "mobile": {
                                                            "style":{
                                                                "width":"100%",
                                                            },
                                                        },
                                                        "columns": [
                                                            {
                                                                "name": "desc",
                                                                "label": "",
                                                                "width":100,
                                                                "mobile": {
                                                                    "width":"100%",
                                                                    "classNameExpr": "<%= \" text-sm font-bold\" %>",
                                                                    "labelClassName": "text-sm font-bold text-center",
                                                                },
                                                                "classNameExpr": "<%= \" text-lg text-center font-bold\" %>"
                                                            },
                                                            {
                                                                "name": "p0",
                                                                "label": "$names.0",
                                                                "width":120,
                                                                "mobile": {
                                                                    "width":"100%",
                                                                    "classNameExpr": "<%= \" text-sm font-bold\" %>",
                                                                    "labelClassName": "text-sm font-bold text-center",
                                                                },
                                                                "labelClassName": "font-bold text-center",
                                                                "classNameExpr": "<%= \"text-lg text-center \" %>"
                                                            },
                                                            {
                                                                "name": "p1",
                                                                "label": "$names.1",
                                                                "width":120,
                                                                "mobile": {
                                                                    "width":"100%",
                                                                    "classNameExpr": "<%= \" text-sm font-bold\" %>",
                                                                    "labelClassName": "text-sm font-bold text-center",
                                                                },
                                                                "labelClassName": "font-bold text-center",
                                                                "classNameExpr": "<%= \"text-lg text-center\" %>"
                                                            },
                                                            {
                                                                "name": "p2",
                                                                "label": "$names.2",
                                                                "width":120,
                                                                "mobile": {
                                                                    "width":"100%",
                                                                    "classNameExpr": "<%= \" text-sm font-bold\" %>",
                                                                    "labelClassName": "text-sm font-bold text-center",
                                                                },
                                                                "labelClassName": "font-bold text-center",
                                                                "classNameExpr": "<%= \"text-lg text-center\" %>"
                                                            },
                                                            {
                                                                "name": "p3",
                                                                "label": "$names.3",
                                                                "width":120,
                                                                "mobile": {
                                                                    "width":"100%",
                                                                    "classNameExpr": "<%= \" text-sm font-bold\" %>",
                                                                    "labelClassName": "text-sm font-bold text-center",
                                                                },
                                                                "labelClassName": "font-bold text-center",
                                                                "classNameExpr": "<%= \"text-lg text-center\" %>"
                                                            },
                                                        ]
                                                    },
                                                    {
                                                        "name":"report2",
                                                        "title": "",
                                                        "type":"table",
                                                        "source": "$ptRows",
                                                        "visibleOn": "typeof data.ptRows !== 'undefined'",
                                                        "mobile": {
                                                            "style":{
                                                                "width":"100%",
                                                            },
                                                        },
                                                        "columns": [
                                                            {
                                                                "name": "desc",
                                                                "label": "",
                                                                "width":100,
                                                                "classNameExpr": "<%= \"text-lg text-center \" %>",
                                                                "mobile": {
                                                                    "width":"100%",
                                                                    "classNameExpr": "<%= \" text-sm font-bold\" %>",
                                                                    "labelClassName": "text-sm font-bold text-center",
                                                                },
                                                            },
                                                            {
                                                                "name": "p0",
                                                                "label": "$names.0",
                                                                "width":120,
                                                                "labelClassName": "font-bold text-center",
                                                                "classNameExpr": "<%= \"text-lg text-center \" %>",
                                                                "mobile": {
                                                                    "width":"100%",
                                                                    "classNameExpr": "<%= \" text-sm font-bold\" %>",
                                                                    "labelClassName": "text-sm font-bold text-center",
                                                                },
                                                            },
                                                            {
                                                                "name": "p1",
                                                                "label": "$names.1",
                                                                "width":120,
                                                                "labelClassName": "font-bold text-center",
                                                                "classNameExpr": "<%= \"text-lg text-center \" %>",
                                                                "mobile": {
                                                                    "width":"100%",
                                                                    "classNameExpr": "<%= \" text-sm font-bold\" %>",
                                                                    "labelClassName": "text-sm font-bold text-center",
                                                                },
                                                            },
                                                            {
                                                                "name": "p2",
                                                                "label": "$names.2",
                                                                "width":120,
                                                                "labelClassName": "font-bold text-center",
                                                                "classNameExpr": "<%= \"text-lg text-center \" %>",
                                                                "mobile": {
                                                                    "width":"100%",
                                                                    "classNameExpr": "<%= \" text-sm font-bold\" %>",
                                                                    "labelClassName": "text-sm font-bold text-center",
                                                                },
                                                            },
                                                            {
                                                                "name": "p3",
                                                                "label": "$names.3",
                                                                "width":120,
                                                                "labelClassName": "font-bold text-center",
                                                                "classNameExpr": "<%= \"text-lg text-center \" %>",
                                                                "mobile": {
                                                                    "width":"100%",
                                                                    "classNameExpr": "<%= \" text-sm font-bold\" %>",
                                                                    "labelClassName": "text-sm font-bold text-center",
                                                                },
                                                            },
                                                        ]
                                                    },

                                                    {
                                                        "name":"report3",
                                                        "title": "",
                                                        "type":"table",
                                                        "source": "$zhuyiRows",
                                                        "visibleOn": "typeof data.zhuyiRows !== 'undefined'",
                                                        "mobile": {
                                                            "style":{
                                                                "width":"100%",
                                                            },
                                                        },
                                                        "columns": [
                                                            {
                                                                "name": "desc",
                                                                "label": "",
                                                                "width":100,
                                                                "classNameExpr": "<%= \"text-lg text-center \" %>",
                                                                "mobile": {
                                                                    "width":"100%",
                                                                    "classNameExpr": "<%= \" text-sm font-bold\" %>",
                                                                    "labelClassName": "text-sm font-bold text-center",
                                                                },
                                                            },
                                                            {
                                                                "name": "p0",
                                                                "width":120,
                                                                "label": "$names.0",
                                                                "labelClassName": "font-bold text-center",
                                                                "classNameExpr": "<%= \"text-lg text-center \" %>",
                                                                "mobile": {
                                                                    "width":"100%",
                                                                    "classNameExpr": "<%= \" text-sm font-bold\" %>",
                                                                    "labelClassName": "text-sm font-bold text-center",
                                                                },
                                                            },
                                                            {
                                                                "name": "p1",
                                                                "width":120,
                                                                "label": "$names.1",
                                                                "labelClassName": "font-bold text-center",
                                                                "classNameExpr": "<%= \"text-lg text-center \" %>",
                                                                "mobile": {
                                                                    "width":"100%",
                                                                    "classNameExpr": "<%= \" text-sm font-bold\" %>",
                                                                    "labelClassName": "text-sm font-bold text-center",
                                                                },
                                                            },
                                                            {
                                                                "name": "p2",
                                                                "width":120,
                                                                "label": "$names.2",
                                                                "labelClassName": "font-bold text-center",
                                                                "classNameExpr": "<%= \"text-lg text-center \" %>",
                                                                "mobile": {
                                                                    "width":"100%",
                                                                    "classNameExpr": "<%= \" text-sm font-bold\" %>",
                                                                    "labelClassName": "text-sm font-bold text-center",
                                                                },
                                                            },
                                                            {
                                                                "name": "p3",
                                                                "width":120,
                                                                "label": "$names.3",
                                                                "labelClassName": "font-bold text-center",
                                                                "classNameExpr": "<%= \"text-lg text-center \" %>",
                                                                "mobile": {
                                                                    "width":"100%",
                                                                    "classNameExpr": "<%= \" text-sm font-bold\" %>",
                                                                    "labelClassName": "text-sm font-bold text-center",
                                                                },
                                                            },
                                                        ]
                                                    },
                                                ],
                                            },

                                        ],
                                    },
                                ],
                            },

                        ],
                    },
                ]
            };

        let amisScoped = amis.embed('#root', amisJSON);
    })();
</script>
</body>
</html>
